{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<table border="1" >
    <tr>
        <td>
            <img src="https://i.imgur.com/LtaCWml.jpg" width="450" height="450"/>
        </td>
        <td>
            <img src="https://i.imgur.com/1L9A8fu.jpg" width="450" height="450"/>
        </td>
        <td>
            <img src="https://i.imgur.com/ubMrLIY.jpg" width="450" height="450"/>
        </td>
        <td>
            <img src="https://i.imgur.com/Uw9Vm9d.jpg" width="450" height="450"/>
        </td>

    </tr>


</table>

{% endblock %}
